#title {
  color: #fff;
  background: linear-gradient( #2980b9, #6dd5fa, #ffffff);
  
}

.contanier-fluid {
  padding: 3% 15%;
}

.phone {
  transition: 1s;
}

.phone:hover {
  
  transform: rotate(5deg);
  transition: 1s;
}

body {
  font-family: Montserrat;
}

h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
  transition: 1s;
}

h1:hover {    
  transition: 0.5s;
  text-shadow: 0 1px 3px rgb(0, 0, 0);

}



h2 {
  font-family: "montserrat";
  font-weight: 800;
}

h3 {
  font-family: Montserrat;
  font-weight: 800;
}

p {
  color: grey;
  font-family: Montserrat;
}

.fa-apple {
  margin-right: 5px;
}

.fa-android {
  margin-right: 5px;

}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  transition: 1s;
  
}

.navbar-brand:hover {
  transition: 1s;
  transform: scale(1.3)
}

.nav-item {
  padding: 0 18px;
  font-family: Montserrat;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 110%;
}

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
}

.icon {
  color: #5396c1;
  margin-bottom: 1rem;
  transition: 1s;

}

.icon:hover {
  color: #2586c4;
  transition: 1s;
}

#testimonials {
  padding: 7% 15% 1%;
  text-align: center;
  background: linear-gradient( #fff, #6dd5fa, #6dd5fa, #6dd5fa);
  color: #fff
}

.second-image {
  width: 20%;
  border-radius: 100%;
  margin: 10px 0 70px 0;
  transition: 1s;
}

.second-image:hover {
  transform: scale(1.3);
  -webkit-transform-origin-y: 5%;
  transition: 1s;
}

.third-image {
  width:33.3333%;
  margin: 10px 0 70px 0;
  transition: 1s;
}

.third-image:hover {
  transform: scale(1.3);
  -webkit-transform-origin-y: 5%;
  transition: 1s;
}

.tirana {
  font-family: ubuntu;
  font-size: 130%;
}

#press {
  padding: 7% 15%;
  text-align: center;
  background: linear-gradient( #6dd5fa, #6dd5fa, #6dd5fa, #ffffff);
  
}

#pricing {
  padding: 10%;
}

#cta {
  background: linear-gradient( #fff,#6dd5fa, #6dd5fa, #6dd5fa);
  padding: 7% 15%;
  text-align: center;

}

.last-text {
  text-align: center;
  font-family: ubuntu;
  font-size:3.5rem;
  line-height: 1.5;
  
}

.pricing-col {
  padding:3% 1%;
}

.press-logo {
  transition: 1s;
  width: 23%
  
  
}

.sponsor:hover {
  color: white;
  transition: 2s;
}

.plan {
  text-align: center;
  transition: 1s;
}

.plan:hover {
  text-shadow: 1px 1px 1px grey;
  transition: 1s;



}
.card:hover {
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.295); 
  transition: 1s;
}

.sponsor {
  background-color: #6dd5fa;
  margin-bottom:0;
  text-align: center;
  padding-top: 10%;
  font-family: ubuntu;
  transition: 2s;
}
.press-logo:hover {
  transform: scale(1.1);
  transition: 1s;
}


.card {
  transition: 1s;
}

.download-button2 {
  margin: 2%;
}

#footer {
  padding: 2% 10%;
  text-align: center;
  transition: 1s;
 
}


.social {
  padding: 1%;
  transition: 0.5s;
}

.social:hover {
  color: #2586c4;
  transform: scale(1.2);
  transition: 0.5s;
}

.copyright {
  font-family: ubuntu;
}

h3 a {
  color: white;
  font-size: 2em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: 'ubuntu';
}

a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;

}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  h1 {
    font-size: 2.0rem;
  }

  h3 a {font-size: 2.0rem;
  }
}