.load-bar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 6px;
  background-color: #fdbb2c00;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 4s linear;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 4s linear 2s;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 4s linear 3.5s;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}

#title {
  color: #fff;
  background: linear-gradient( #2980b9, #6dd5fa, #ffffff);
  
}

.contanier-fluid {
  padding: 3% 15%;
}

.phone {
  animation-name: floatingphone;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  transition: 1s;
}

@keyframes floatingphone{
0%{transform:translateY(0)}
50%{transform:translateY(15px)}
100%{transform:translateY(0)}}

.phone:hover {
  
  transform: rotate(5deg);
  transition: 1s;
}

body {
  font-family: Montserrat;
}

h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
  transition: 1s;
}

h1:hover {    
  transition: 0.5s;
  text-shadow: 0 1px 3px rgb(0, 0, 0);

}



h2 {
  font-family: "montserrat";
  font-weight: 800;
}

h3 {
  font-family: Montserrat;
  font-weight: 800;
}




.fa-apple {
  margin-right: 5px;
}

.fa-android {
  margin-right: 5px;

}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  transition: 0.5s;
  
}

.navbar-brand:hover {
  transition: 0.5s;
  transform: scale(1.2)
}

.nav-item {
  padding: 0 18px;
  font-family: Montserrat;
}

.download-button {
  margin: 5% 3% 5% 0;
  transition: 0.2s;
}

.download-button:hover {
  text-shadow: 1px 1px 1px grey;
  transform: scale(1.1)
  
}

.title-image {
  width: 110%;
}

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
}

.icon {
  color: #5396c1;
  margin-bottom: 1rem;
  transition: 0.3s;

}

.icon:hover {
  color: #2586c4;
  transition: 0.3s;
}

#testimonials {
  padding: 7% 15% 1%;
  text-align: center;
  background: linear-gradient( #fff, #6dd5fa, #6dd5fa, #6dd5fa);
  color: #fff
}

.second-image {
  width: 20%;
  border-radius: 100%;
  margin: 10px 0 70px 0;
  transition: 1s;
}

.second-image:hover {
  transform: scale(1.3);
  -webkit-transform-origin-y: 5%;
  transition: 1s;
}

.third-image {
  width:33.3333%;
  margin: 10px 0 70px 0;
  transition: 1s;
}

.third-image:hover {
  transform: scale(1.3);
  -webkit-transform-origin-y: 5%;
  transition: 1s;
}

.tirana {
  font-family: ubuntu;
  font-size: 130%;
}

#press {
  padding: 7% 15%;
  text-align: center;
  background: linear-gradient( #6dd5fa, #6dd5fa, #6dd5fa, #ffffff);
  
}

#pricing {
  padding: 10%;
}

#cta {
  background: linear-gradient( #fff,#6dd5fa, #6dd5fa, #6dd5fa);
  padding: 7% 15%;
  text-align: center;

}

.last-text {
  text-align: center;
  font-family: ubuntu;
  font-size:3.5rem;
  line-height: 1.5;
  
}

.pricing-col {
  padding:3% 1%;
}

.press-logo {
  transition: 0.5s;
  width: 23%
  
  
}
.sponsor {
  text-shadow: 1px 1px 1px white;
}

.sponsor:hover {
  color: white;
  transition: 2s;
  text-shadow: 1px 1px 1px grey;
  
}

.plan {
  text-align: center;
  transition: 1s;
}

.plan:hover {
  text-shadow: 1px 1px 2px grey;
  transition: 0.3s;



}
.card:hover {
  border-color:#6dd5fa;
  box-shadow: 0 13px 48px rgba(0, 0, 0, 0.2);
  z-index:1;
  color:#fff;
  background:#6dd5fa;
  border-color:#6dd5fa;
  transform: rotate(0.5deg) scale(1.02);
  box-shadow: 0px 0px 10px #64646446; 
  transition: 0.2s;
  animation-name: col2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes col2 {
  0% {background-color: #8a8a8a9a;}
  25%  {background-color: #37948c;}
  50% {background-color: #4eafb6;}
  75% {background-color: #3f82af;}
  100% {background-color: #8a8a8a9a;}
}

.sponsor {
  background-color: #6dd5fa;
  margin-bottom:0;
  text-align: center;
  padding-top: 10%;
  font-family: ubuntu;
  transition: 2s;
}
.press-logo:hover {
  transform: scale(1.1);
  transition: 0.5s;
}


.card {
  transition: 0.2s;
}

.download-button2 {
  margin: 2%;
}

#footer {
  padding: 2% 10%;
  text-align: center;
  transition: 1s;
 
}


.social {
  padding: 1%;
  transition: 0.5s;
}

.social:hover {
  color: #2586c4;
  transform: scale(1.2);
  transition: 0.5s;
}

.copyright {
  font-family: ubuntu;
}

h3 a {
  color: rgb(255, 255, 255);
  font-size: 2em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: 'ubuntu';
}


a.effect-shine {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;

}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  h1 {
    font-size: 2.0rem;
  }

  h3 a {font-size: 2.0rem;
  }
}

h6 {
  opacity: 0.7;
  font-family: Montserrat;
}

.btnn:hover {
  color: ;
  text-shadow:0px 0px 1px white;
}

b {
  transition: 0.3s;
}

.btnn2:hover {
  color: ;
  font-size: 101%;
  text-shadow:0px 0px 1px white;
}

.text-shine {
  color: white;
  text-shadow:1px 1px 10px rgb(0, 0, 0);

}

.text-shine:hover {
  color: #000;
  text-shadow:1px 1px 10px rgb(255, 255, 255);
}
